/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

.navbar {
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.travel {
    color: #ff5400;
}

.logo img {
    height: 50px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: rgb(3, 3, 3);
    font-weight: bold;
    font-size: 16px;
}

.menu a:hover {
    color: #ffcc00;
}

/* Banner */

.banner {
    position: relative;
    text-align: center;
    color: white;
    background: url(../assets/mainbanner.png) center/cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-size: 64px;
    margin-bottom: 20px;
    color: #FFF;
    font-weight: 800;
}

.banner p {
    font-size: 16px;
    font-weight: 400;
    max-width: 600px;
    color: white;
    margin: 0 auto;
}

.search-options {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 20px auto;
}

.search-options input,
.search-options select,
.search-options button {
    padding: 10px;
    margin-right: 10px;
    border: none;
}

.search-options input {
    flex: 2;
    /* Takes up 2/5 of the space */
}

.search-options select {
    flex: 1;
    /* Takes up 1/5 of the space */
}

.search-options button {
    background-color: #ffcc00;
    color: #333;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(198deg, rgb(16 16 16 / 14%) 0%, rgb(0 0 0 / 0%) 100%);
}

/* Popular Tours section style */

.popular-tours {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.popular-tours-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.left-content {
    flex: 1;
    padding-right: 20px;
}
.left-content h2 {
    color: #131318;
    font-size: 40px;
     font-weight: 800;
}

.right-content {
    flex: 1;
    height: 550px;
}

.popular-tours-content h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.popular-tours-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.popular-tours-content ul {
    list-style-type: disc;
    margin-left: 20px;
}

.popular-tours-content li {
    font-size: 16px;
    margin-bottom: 10px;
}

.popular-tours-content img {
    width: 100%;
    border-radius: 8px;
}

.popular-tours-content button.explore-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ffcc00;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popular-tours-content button.explore-button:hover {
    background-color: #ffc300;
}


/* Responsive Design Section */

/* Mobile */
input[type=checkbox] {
    display: none;
  } 
  .toggle {
    display: none;
    font-size: 24px;
    user-select: none;
  } 

  @media (max-width: 600px) {
    .nav-list {
        display: none;
    }
    .toggle {
        display: block;
    }

    /* banner section responsive */
    .search-options,
    .popular-tours-content{
        flex-direction: column;
    }
    .overlay h1{
        font-size: 22px;
    }
    .overlay p {
        font-size: 14px;
    }
    .search-options{
        border-radius: 8px;
        background:rgba(255,255,255, 0.3);
        padding:20px;
        margin-top: 100px;
    }
    .search-options> input, select{
        margin-bottom: 16px;
        border-radius: 8px;
        background: #FFF;
    }
     .left-content,.right-content{
        margin-left: 16px;
        margin-right: 16px;
     }
     
    .right-content img {
        margin-top: 24px;
        width: 100%;
    }
   }